.ctlg_form {
  form {
    .fields_container {
      margin-bottom: 0.25rem;
      background-color: lighten($color1, 50%);
      margin-top: 1em;
      padding-bottom: 0.5em;
      border-bottom: 1px solid $color1;

      > legend {
        font-size: $h3Size;
        font-weight: 600;
        margin-bottom: 1em;
        background-color: $color1;
        padding: 1em;
        border-radius: 10px;
        color: white;
      }

      .widget {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0.25rem 1rem 1rem;

        &-text, &-textarea, &-select {
          input, textarea, select {
            @include transition();
            width: 100%;
            max-width: 100%;
            border: none;
            outline: none;
            padding: 0.25em 0.5em;

            &:focus {
              box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.25);
            }
          }
        }

        &-upload{
          display: block;
          .upload-preview{
            max-width: 45%;
            padding-top: 1rem;
            padding-bottom: 1rem;
          }
          input{
            @include transition();
            width: 100%;
            max-width: 100%;
            border: none;
            outline: none;

            &:focus {
              box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.25);
            }
          }
        }

        &-checkbox {
          .checkbox_container {
            > legend {
              padding-bottom: 0.5em;
            }

            &:hover{
              label{
                &:before{
                  background-image: url("/files/layout/images/checkbox-haken-checked-hover.svg");
                }
              }
            }
            input {
              display: none;

              &:checked {
                + label {
                  &:before {
                    background-image: url("/files/layout/images/checkbox-haken-checked-hover.svg");
                  }
                }
              }
            }

            label {
              display: grid;
              grid-template-columns: 2rem 1fr;
              grid-column-gap: 10px;
              font-size: 1.25rem;
              margin-right: 2rem;
              align-items: center;
              margin-bottom: 1rem;

              &:before {
                content: "";
                display: block;
                width: 1.5em;
                height: 1.5em;
                border: 1px solid $color1;
                background-image: url("/files/layout/images/checkbox.svg");
                background-repeat: no-repeat;
                border-radius: 20%;
                margin-right: 5px;
              }
            }
          }
        }

        &-radio {
          > legend {
            padding-bottom: 0.5em;
          }

          &:hover{
            label{
              :before{
                background-image: url("/files/layout/images/radio-button-hover.svg");
              }
            }
          }

          input {
            display: none;

            &:checked {
              + label {
                &:before {
                  background-image: url("/files/layout/images/radio-button.svg");
                }
              }
            }
          }

          label {
            display: grid;
            grid-template-columns: 2rem 1fr;
            grid-column-gap: 10px;
            font-size: 1.25rem;
            margin-right: 2rem;
            align-items: center;
            margin-bottom: 1rem;

            &:before {
              content: "";
              display: block;
              width: 1.5em;
              height: 1.5em;
              border: 1px solid $color1;
              background-image: url("/files/layout/images/radio.svg");
              background-repeat: no-repeat;
              border-radius: 50%;
              margin-right: 5px;
            }
          }
        }
      }
    }

    .submit_container {
      display: flex;
      justify-content: space-between;
      button {
        @include button;
        width: 48%;
      }
    }
  }
}