.mod_catalogUniversalView.veranstalter{
  grid-column: span 12;
  .ctlg_teaser{
    a{
      .titel{
        strong{
          margin-left: 0.5em;
        }
      }
    }
  }
  .ctlg_master{
    .anbieter, .angebotsbild {
      max-width: 100%;
    }
    .rechte-spalte{
      >.datenblock{
        background: none;
        .datenblock-spalte {
          padding: 0;
        }
      }
    }
    @media all and (min-width: $break3){
      .anbieter, .angebotsbild {
        max-width: 35ch;
      }
      .rechte-spalte {
        >.datenblock {
          padding-top: 0;
          .datenblock-spalte {
            padding: 0 1rem;
          }
        }
      }
    }
  }
}

@media all and (min-width: $break3) {
  #veranstalterMap {
    grid-column: span 4;
    order: 2;
    +.veranstalter {
      grid-column: span 8;
      order: 1
    }

  }
}


.mod_catalogUniversalView.veranstalter-FE{
  .ctlg_master {
    @include grid();
    .linke-spalte {
      grid-column: span 12;

      .datenblock {
        background: none;

        .datenblock-spalte {
          background-color: lighten($color1, 50%);
          padding-top: 1rem;

          p {
            font-weight: 400;
          }
        }
      }
      .operations{
      }
    }
    .rechte-spalte{
      grid-column: span 12;
      .ctlg_teaser{
        border-top: 2px solid $color1;
        margin-bottom: 3rem;
        .freigabe-warnung{
          padding-left: 1rem;
          font-weight: 600;
          font-size: $linkSize;
        }
      }
    }

    @media all and (min-width: $break3) {
      .linke-spalte {
        grid-column: span 6;
      }
      .rechte-spalte {
        grid-column: span 6;
      }
    }
  }
  .ctlg_teaser{
    a{
      padding-left: 1rem;
      padding-bottom: 1rem;
      p{
        margin-bottom: 0;
      }
    }
  }
}