.mod_login {
  h1 {
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid $color1;
  }

  .error {
    color: red;
    padding: 1rem 1rem;
    border: 1px solid red;
    background-color: white;
  }

  form {
    .formbody {
      margin-bottom: 0.25rem;
      background-color: lighten($color1, 50%);
      margin-top: 1em;
      padding-bottom: 0.5em;
      padding-top: 1rem;
      border-bottom: 1px solid $color1;

      .login_info {
        padding: 1rem;
      }

      .widget {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0.25rem 1rem 1rem;

        &-text, &-password {
          input {
            @include transition();
            width: 100%;
            max-width: 100%;
            border: none;
            outline: none;
            padding: 0.25em 0.5em;

            &:focus {
              box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.25);
            }
          }
        }

        &-checkbox {
          .checkbox_container {
            > legend {
              padding-bottom: 0.5em;
            }

            input {
              display: none;

              &:checked {
                + label {
                  &:before {
                    content: url("/files/layout/images/checkbox-haken.svg");
                  }
                }
              }
            }

            label {
              display: grid;
              grid-template-columns: 2rem 1fr;
              grid-column-gap: 10px;
              font-size: 1.25rem;
              margin-right: 2rem;
              align-items: center;
              margin-bottom: 1rem;

              &:before {
                content: "";
                display: block;
                width: 1.5em;
                height: 1.5em;
                border: 1px solid $color1;
                background-color: white;
                border-radius: 20%;
                margin-right: 5px;
              }
            }
          }
        }
      }
    }

    .widget-submit {
      button {
        @include transition();
        display: block;
        width: 100%;
        padding: 0.5em;
        background-color: $color1;
        color: white;
        font-weight: 600;
        border: 1px solid white;
        cursor: pointer;
        outline: none;

        &:hover, &:focus {
          background-color: white;
          border-color: $color1;
          color: $color1;
        }

      }
    }

  }

}