.mmenu {
  &-trigger {
    width: 2.375rem;
    height: 2.375rem;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 30px;
    .hamburger {
      height: 4px;
      width: 38px;
      margin: 7px;
      background-color: white;
      display: block;
      border-radius: 12px;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    a {
      display: inline-block;
      &:focus, &:hover {
        .hamburger {
          background-color: white;
        }
      }

    }
    @media all and (min-width: $break1){
      margin-right: 2rem;
      margin-top: 5px;
    }
    @media all and (min-width: 1300px){
      margin-bottom: 3px;
      margin-right: 3rem;
      margin-top: 0;
      .hamburger{
        width: 44px;
        margin: 10px;
      }
    }
  }

}

.mod_mmenu{
  .mm-panels{
    .mm-panel{
      background-color: lighten($color1, 50%);
      .mm-navbar{
        background-color:$color1;
        a{
          color: white;
          font-weight: 600;
          &:before{
            border-color: white;
          }
        }
      }
      .mm-listview{
        .mm-listitem{
          background-color: lighten($color1, 10%);
          &__text{
            color: white;
            font-weight: 600;
          }
          &__btn{
            &:after{
              border-color: white;
            }
          }
          &_selected{
            .mm-listitem__text{
              background: none;
              color: $color4;
            }
          }
          &.trail{
            .mm-listitem__text{
              color: lighten($color4, 30%);
            }
            .mm-listitem__btn{
              &:after{
                border-color: lighten($color4, 30%);
              }
            }
          }
        }
      }
    }
  }
}
