.mod_newslist {
  grid-column: span 12;

  .datenblock {
    @include grid();
    padding: 1rem;
    background-color: lighten($color1, 50%);
    color: $fontColor;
    p {
      margin-bottom: 0;
      font-size: 0.75em;
    }

  }
  .layout_latest {
    a {
      padding-top: 1em;
      padding-bottom: 0.5em;
      border-bottom: 1px solid $color1;
      display: block;

      > h3 {
        text-decoration: none;
        color: $fontColor;
        font-family: $font1;
        font-weight: 600;
        margin-bottom: 0.5em;
        padding: 0 1rem;
      }

      .teaser-logo-container {
        margin-bottom: 1em;
        @include grid();

        p {
          padding: 0 1rem;
          grid-column: span 12;
          color: $fontColor;
          margin-bottom: 0;

          .weiterlesen {
            color: $color1;
            font-weight: 600;
            @include transition();
          }
        }

        .image_container {
          grid-column: span 4;
          padding: 0 1rem;
          margin-bottom: 0;
        }
      }

      &:hover, &:focus {
        background-color: lighten($color1, 50%);

      }
    }
    @media all and (min-width: $break3) {
      a {
        .teaser-logo-container {
          grid-template-columns: repeat(8, 1fr);

          p {
            grid-column: span 6;
            padding-right: 0;
          }

          .image_container {
            grid-column: span 2;
            padding-left: 0;
          }
        }
      }
    }
  }
}

.mod_newsreader {
  grid-column: 1/3;

  .layout_full {
    h1, h2, h3, h4, h5, h6 {
      text-align: end;
    }
  }

  .back {
    a {
      padding: .5rem 1rem;
      border: 1px solid rgb(198, 198, 198);
      display: inline-block;
      color: $fontColor;
      font-size: 2.25rem;
      font-weight: 300;
      line-height: 1.3;

      &:hover, &:focus {
        background-color: $color1;
        color: white;
        border-color: $color2;
      }
    }
  }

  @media screen and (min-width: $break2) {
    display: grid;
    grid-template-columns: $grid-columns;
    grid-gap: $spaltenAbstand*3;
    margin-bottom: $abstandAussen;
    .layout_full {
      grid-column: 1/3;
      display: grid;
      grid-template-columns: $grid-columns;
      grid-gap: $spaltenAbstand*3;

      h1, h2, h3, h4, h5, h6 {
        grid-column: 1/2;
        text-align: end;
      }

      .newsreader-content {
        grid-column: 2/3;
      }
    }
    .back {
      grid-column: 2/3;
    }
  }
}
