//Vars
$navColor: black;

// Horizontale Navigation
.mod_navigation {
  font-family: $font2;


  strong {
    color: $navColor;
  }

  a {
    color: $navColor;
    text-decoration: none;
    @include transition;

    &:hover {
      color: $navColor;
    }
  }

  ul {
    margin-bottom: 0;
  }

  .trail {
    color: $navColor;
  }

  &#mainnav {
  display: none;
  @media all and (min-width: $break3) {
    display: block;
    overflow: visible;
    .level_1 {
      margin-left: 1.5rem;
      display: flex;

      >li {
        font-size: 2.375rem;
        margin-right: 0.5rem;
        display: flex;
        color: white;
        position: relative;
        padding-bottom: 5px;
        &.submenu{
          .level_2{
            @include transition();
            display: block;
            transform: rotate(3deg) skewY(-3deg) scaleY(0);
            transform-origin: top;
            position: absolute;
            padding: 3rem 1rem 0.5em;
            margin-left: -1rem;
            top: 98.6%;
            min-width: calc(100% + 2rem);
            background-color: lighten($color1, 10%);
            z-index: -1;
            border-radius: 0 0 5px 5px;
            box-shadow: 1px 4px 5px rgba(0,0,0,0.25);
            >li{
              transform: skewY(3deg);
              a, strong{
                color: white;
                font-size: $linkSize;
              }
              .level_3{
                display: block;
                li{
                  font-family: $font1;
                  >a{
                    display: flex;
                    &:before{
                      content: "•";
                      margin-right: 5px;
                    }
                  }
                }
              }
            }
          }
          &:hover, &:focus{
            .level_2{
              transform: rotate(3deg) skewY(-3deg) scaleY(1);
            }
          }
        }

        a {
          color: $color3;

          &:focus, &:hover {
            color: white;
          }
        }

        strong {
          color: white;
        }

        &:after {
          content: "•";
          margin-left: 0.5rem;
        }

        &:last-of-type {
          margin-right: 0;

          &:after {
            display: none;
          }
        }
      }
    }
  }
}
  &#metanav{
    .level_1{
      display: flex;
      justify-content: flex-end;
      font-family: $font1;
      >li{
        margin-left: 0.5rem;
        color: $color1;
        a{
          color: $color1;
          font-size: $linkSize;
        }
        &:after{
          content: "|";
          margin-left: 0.5rem;
          font-size: $linkSize;
        }
        &:last-of-type{
          &:after{
            display: none;
          }
        }
      }
    }
  }
}