/**
    Author
    www.mees-zacke.de
    Florian Krohmer
**/
body {

  #wrapper {

    /////////////////////////////
    //////// HEADER ////////
    ////////////////////////////
    #header {
      display: none;
      @media all and (min-width: $break1){
        display: block;
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        z-index: 200;
        .inside{
          @include pageWidth;
          #suche-service-container{
            display: flex;
            #header-suche-container{
              margin: 20px 0 0 20px;
              .formbody{
                display: flex;
                background-color: white;
                border-radius: 2px;
                width: 200px;
                .widget-submit{
                  width: 1.5rem;
                  height: 1.5rem;
                  margin-right: 5px;
                  padding-left: 5px;
                }
                .widget-text{
                  width: 100%;
                  input{
                    width: 100%;
                    border: none;
                  }
                }
              }
            }
            #header-servicenav-container{
              clip-path: polygon(0 0, 0 100%, 100% 90%, 100% 0);
              background-color: $color1;
              padding: 20px 10px;
              margin-left: auto;
              margin-right:20px;
              position: relative;
              z-index: 300;
              *{
                color: white;
              }
            }
          }
        }
      }
    }

    // Ende #Header

    /////////////////////////////
    ////////// CUSTOM //////////
    ////////////////////////////

    .custom {
      #kopfbild {

        .inside {
          .mod_article {
            position: relative;
            z-index: 100;
            figure {
              margin: 0;
              img {

              }
            }
          }
          #mainnav-logo-container{
              #mainnav-logo-container-outer{
                padding-top: 5%;
                background-color: $color1;
                transform: rotate(-3deg) translate(0, -45%);
                #mainnav-logo-container-inner{
                  @include pageWidth;
                  display: flex;
                  align-items: center;

                  .mm-opener{
                    width: 2.375rem;
                    height: 2.375rem;
                    background-color: white;
                  }
                }
                @media all and (min-width: 1600px){

                }
              }
          }
          #header-logo-container{
            @include pageWidth;
            position: relative;
            z-index: 200;
            #header-logo, #header-kompass{
              position: absolute;
              right: 20px;
              bottom: 0;
              figure{
                box-sizing: border-box;
                width: 150px;
                height: 150px;
              }
            }
            #header-logo{
              overflow: visible;
              figure{
                padding: 35% 25%;
                background-color: white;
                border-radius: 50%;
                box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
              }
            }
            @media all and (min-width: $break2){
              #header-logo, #header-kompass{
                figure{
                  width: 200px;
                  height: 200px;
                }
              }
            }
            @media all and (min-width: $break3){
              #header-logo, #header-kompass{
                figure{
                  width: 300px;
                  height: 300px;
                }
              }
            }
          }
        }

        @media all and (min-width: $break3) {
          padding-bottom: 60px;
        }
        @media all and (min-width: 3300px) {
          .inside {
            .mod_article {
              figure {
                picture {
                  img {
                    height: 500px;
                    width: 100%;
                    object-fit: cover;
                  }
                }
              }
            }
          }
        }
        @media all and (min-width: $break3) {
        }
      }
    }

      /////////////////////////////
    //////// CONTAINER ////////
    ////////////////////////////
    #container {
      // Anfang #main
      #main {
        .inside {
          @include pageWidth;
          .mod_article{
            @include grid;
            // Catalog Manager
            @import "ctlg_default";
            @import "ctlg_veranstalter";
          }
        }
      }

      // Ende #main

    }

    // Ende #Container


    /////////////////////////////
    //////// FOOTER ////////
    ////////////////////////////
      #meta{
        .inside{
          @include pageWidth;
          margin-top: 3rem;
        }
      }

      #footer{
        margin-top: 0.5rem;
        background-color: $color3;
        .inside{
          @include pageWidth;
          padding-top: 0.75rem;
          .ce_text{
            ul{
              display: flex;
              justify-content: flex-end;
              li{
                font-size: $linkSize;
                margin-left: 0.5rem;
                padding-left: 0;
                &:before{
                  display: none;
                }
                &:after{
                  content: "|";
                  margin-left: 0.5rem;
                  font-size: $linkSize;
                }
                &:last-of-type{
                  &:after{
                    display: none;
                  }
                }
              }
            }
          }
          #footer-logos{
            background-color: white;
            padding: 2rem 1rem 1rem;
            clip-path: polygon(0 100% , 100% 100%, 100% 0 , 0 50%);
            .ce_text{
              text-align: end;
              font-size: $linkSize;
            }
          }
        }
      }
    // Ende #Footer

  }

  // Ende #wrapper
}